* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'disket_monoregular';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/disket-mono.woff') format('woff');
}

@font-face {
  font-family: 'hansonbold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/hanson-bold.woff') format('woff');
}
